<ul id="networks" class="noprint">
  <li>
    <a href="http://twitter.com/coderbyheart" rel="me" title="Markus Tacker bei Twitter">
      <span class="sprite network-icon network-twitter"></span>
      <span class="textimage textimage-p">twitter</span>
    </a>
  </li>
  <li>
    <a href="https://www.xing.com/profile/Markus_Tacker" rel="me" title="Markus Tacker bei XING">
      <span class="sprite network-icon network-xing"></span>
      <span class="textimage textimage-p">XING</span>
    </a>
  </li>
</ul>
<div id="footerarea" class="noprint">

  <div class="leftcol">
    <h2 class="textimage textimage-h3white">Tags</h2>
    <ul class="taglist">
      {% for tag in site.data.tags %}
      {% assign slugtag = tag | slugify %}
      <li><a href="{{ '/tag/' | append: slugtag | prepend: site.baseurl | prepend: site.url }}" class="textimage textimage-pwhite" rel="tag">#{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="rightcol">
    <h2 class="textimage textimage-h2white">Links</h2>
    <ul id="links">
      <li class="linksection">
        <h3 class="textimage textimage-h3white">Persönliches</h3>
        <ul class="linklist">
          <li><a href="http://m.tacker.org/" class="textimage textimage-pwhite" rel="me"
                 title="Meine &quot;offizielle&quot; Homepage">Homepage</a></li>
          <li><a href="http://www.linkedin.com/in/markustacker" class="textimage textimage-pwhite" rel="me"
                 title="Markus Tacker bei LinkedIn">LinkedIn</a></li>
          <li><a href="http://www.xing.com/profile/Markus_Tacker" class="textimage textimage-pwhite" rel="me"
                 title="Markus Tacker bei XING">XING</a></li>
        </ul>
      </li>
      <li class="linksection">
        <h3 class="textimage textimage-h3white">Studium</h3>
        <ul class="linklist">
          <li><a href="http://hs-rm.de/" class="textimage textimage-pwhite" rel="colleague"
                 title="Hochschule RheinMain">HS RheinMain</a></li>
          <li><a href="https://www.facebook.com/groups/hsrmmi/" class="textimage textimage-pwhite" rel="met colleague"
                 title="Gruppe Medieninformatik Hochschule RheinMain bei Facebook">Medieninformatik auf Facebook</a>
          </li>
          <li><a href="https://github.com/tacker/hsrm-mi-wiki/wiki" class="textimage textimage-pwhite" rel="me"
                 title="">Wiki</a></li>
        </ul>
      </li>
      <li class="linksection">
        <h3 class="textimage textimage-h3white">Kommilitonen</h3>
        <ul class="linklist">
          <li><a href="http://sebadorn.de/" class="textimage textimage-pwhite" rel="colleague" title="">Sebastian
            Dorn</a></li>
          <li><a href="http://www.innenspur.de/" class="textimage textimage-pwhite" rel="" title="">Kai Wolf</a></li>
          <li><a href="http://svenhesse.de/" class="textimage textimage-pwhite" rel="friend met co-worker" title="">Sven
            Hesse</a></li>
        </ul>
      </li>
      <li class="linksection">
        <h3 class="textimage textimage-h3white">Andere</h3>
        <ul class="linklist">
          <li><a href="http://www.evejay.de/" class="textimage textimage-pwhite" rel="friend met neighbor" title="">EVE
            JAY.DEsign</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <ul id="footer">
    <li><span class="textimage textimage-footer">&copy; 2009–{{ site.time | date:
    '%Y' }}</span> <a href="http://tckr.cc/" rel="author" class="textimage textimage-footer">Markus Tacker</a></li>
    <li><a href="{{ '/hinweise' | prepend: site.baseurl | prepend: site.url }}" class="textimage textimage-footer">Hinweise</a></li>
    <li><a href="{{ '/impressum' | prepend: site.baseurl | prepend: site.url }}" class="textimage textimage-footer">Impressum</a></li>
    <li><a href="{{ '/datenschutz' | prepend: site.baseurl | prepend: site.url }}" class="textimage textimage-footer">Datenschutz</a></li>
  </ul>
</div>
<div id="markus"><!-- --></div>
