<script type="text/javascript">
  /* <![CDATA[ */
  var THEME_IMAGE_DIR = "{{ '/img' | prepend: site.baseurl | prepend: site.url }}";
  var THEME_CSS_DIR = "{{ '/css' | prepend: site.baseurl | prepend: site.url }}";
  /* ]]> */
</script>
<script type="text/javascript" src="{{ '/js/mootools-1.2.3-core-yc.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ '/js/mootools-1.2.3.1-Asset-yc.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ '/js/markusstudiert.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript" src="//browser-update.org/update.js"></script>
