<script type="text/javascript">
  /* <![CDATA[ */
  var THEME_IMAGE_DIR = "{{ '/img' | prepend: site.baseurl | prepend: site.url }}";
  var THEME_CSS_DIR = "{{ '/css' | prepend: site.baseurl | prepend: site.url }}";
  /* ]]> */
</script>
<script type="text/javascript" src="{{ '/js/mootools-1.2.3-core-yc.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ '/js/mootools-1.2.3.1-Asset-yc.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ '/js/markusstudiert.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript" src="//browser-update.org/update.js"></script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Rock+Salt::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
