<head profile="http://gmpg.org/xfn/11">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="de-de" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="ROBOTS" content="index,follow,noodp" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="Markus Tacker Studium Medieninformatik Hochschule RheinMain Blog" />

  <link rel="shortcut icon" href="{{ '/img/icon.ico' | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/css/reset-min.css" | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
