<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">

{% include head.html %}

<body>

<div id="main">
  <div id="content">
    <div class="leftcol">
      <h1 class="sprite link">Markus studiert!</h1>
    </div>
    <div class="clear"><!-- --></div>

    {{ content }}

    <div class="navigation">
      <div class="alignleft textimage-link"><a href="/page/2">« Ältere Einträge</a></div>
      <div class="alignright textimage-link"></div>
    </div>

    <div class="clear"><!-- --></div>

  </div><!-- of #content -->

  {% include after-content.html %}

</div>

{% include footer.html %}

</body>

</html>
