---
layout: default
---

<div class="leftcol">
  <div class="latestpost">
    <h2>
      <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" rel="bookmark"
         class="textimage textimage-h2">{{ page.title }}</a>
    </h2>

    {{ content }}
  </div>
</div>
<div class="rightcol">
  <div class="latestpost">
    <p class="textimage nobottommargin">
      &lt; {{ page.date | date: '%d. %B %Y, %H:%M Uhr' }}
    </p>
    <p><span class="textimage textimage-p">Tags:</span>
      {% for tag in page.tags %}
      {% assign slugtag = tag | slugify %}
      <a href="{{ '/tag/' | append: slugtag | prepend: site.baseurl | prepend: site.url }}" class="textimage textimage-link" rel="tag">#{{ tag }}</a>
      {% endfor %}
    </p>
  </div>
</div>
<hr>
